<div id="header">
    <a href="{{ path('homepage') }}">
        <h1 id="header-title">Bouc à Bouc</h1>
    </a>
    <h2 id="header-subtitle">Livre par livre, je constitue ma bibliothèque et je partage entre amis !</h2>
</div>
